/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Classic editor support CSS Start */
.classic-fields-sesamy label{
	font-weight: bold;
}

.sesamy-classic-locked-active, .sesamy-classic-locked-inactive{
	margin-top: 10px;
}

.block-container{margin-top: 10px;}
/* Classic editor support CSS End */

.edit-fields-sesamy .marginright {
	margin-right: 0.5rem;
}

.edit-fields-sesamy .title {
	width: 10rem !important;
}

.edit-fields-sesamy .sesamy-bulk-edit-price div {
	margin-left: 10rem !important;
}

.edit-fields-sesamy .sesamy-bulk-edit-price input {
	width: 4rem;
}

.edit-fields-sesamy .sesamy-bulk-edit-price .input-text-wrap {
	margin-left: 0 !important;
}

.sesamy-editor-panel h3 {
	margin-top: 0.5rem;
}